h1 {
  color: #00008b;
  font-family: 'Indie Flower', cursive;
  text-align: right;
  text-decoration: overline;
  text-transform: lowercase;
  letter-spacing: 6px;
  word-spacing: 15px;
  text-shadow: 2px 2px red;
  font-size: 50px;
}

body {
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=1200:*);
  background-size: 100% 800px;
}

img {
  border-radius: 20%;
  width: 20%;
  height: auto;
  filter: blur(2px);
  transform: rotate(-30deg);
}

ol {
  list-style-type: georgian;
  color: #00008b;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Indie Flower', cursive;
  list-style-position: inside;
}
